<!DOCTYPE html>

<html xmlns:th="http://www.thymeLeaf.org"
      xmlns:sec="https://www.thymeLeaf.org/thymeLeaf-extras-springsecurity5">
    <head>
        <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="webjars/bootstrap/4.3.1/css/bootstrap.css" rel="stylesheet" />
        <script type="text/javascript" src="webjars/jquery/3.4.1/jquery.min.js"></script>
        <script type="text/javascript" src="webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
        <link href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <title>Find All Members</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <!--<div>Welcome to Church Planner</div>-->
        <div align="right">
            <div sec:authorize="isAuthenticated()">
                Welcome <b><span  sec:authentication="name">Name</span></b>
                &nbsp;
                <span sec:authentication="principal.authorities">Roles</span>
                <br/>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />

                </form>
            </div>

            <!-- menu bar -->
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="/">HomePage</a>
                <a class="navbar-brand" href="newmember">Create New Member</a>
                <a class="navbar-brand" href="newactivity">Add New Activity</a>
                <a class="navbar-brand" href="activities">Edit Activity</a>
            </nav>
        </div>
        <div>Welcome to Church Planner</div>
        <div align="center">
            <div sec:authorize="isAuthenticated()">
                Welcome 
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Logout" />

                </form>
            </div>
            <h1>Member details</h1>
            <table border="1" cellpadding="10">
                <thead>
                    <tr>
                        <th>Member ID</th>
                        <th>Member Name</th>
                        <th>Address</th>
                        <th>Town</th>
                        <th>City</th>
                        <th>PostCode</th>
                        <th>Date Of Birth</th>
                        <th>Phone Number</th>
                        <th>Email</th>
                        <!-- sec:authorize="hasAnyAuthority('ADMIN')" 
                        <th>Area of Interest</th>-->

                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="member: ${listMembers}">
                        <td th:text="${member.memberID}">Member ID</td>
                        <td th:text="${member.name}">Member Name</td>
                        <td th:text="${member.address}">Address</td>
                        <td th:text="${member.town}">Town</td>
                        <td th:text="${member.city}">City</td>
                        <td th:text="${member.postcode}">Postcode</td>
                        <td th:text="${member.dob}">Date of Birth</td>
                        <td th:text="${member.phone}">Phone Number</td>
                        <td th:text="${member.email}">Email</td>
                        <td>
                            <a th:href="@{'/edit/' + ${member.memberID}}">Edit</a>
                            &nbsp;&nbsp;
                            <a th:href="@{'/delete/' + ${member.memberID}}">Delete</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</html>
